@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.heading {
    color: black;
    font-family: 'raleway';
    text-align: center;
    margin-top: 10px;
}

.supportContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
    width: 90%;
    background: rgba(102, 192, 188, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid white;
}

.faq {
    color: black;
    width: 50%;
    background: rgba(21, 107, 103, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    color: wh;
}

.accordion button {
    padding: 12px 20px;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }
  
  .accordion button[aria-expanded="true"] {
    border-color: white;
  }
  

@media (max-width:768px) {
    .supportContainer {
        display: flex;
        flex-direction: column;
    }

    .faq {
        width: 100%;
    }
}