.container {
    padding: 20px;
    text-align: center;
  }
  
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  margin-top: 24px;
  margin-right: 10px;
  background: rgba(102, 192, 188, 0.57);
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
  
.card {
  background-color: #166C68;
  padding: 16px;
  position: relative;
  text-align: center;
  border-radius: 8px;
}
  
.removeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
  
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
  
img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
  
  