@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Footer {
    background-color: #156B67;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    align-items: center;
    font-family: 'roboto slab';
}

.link {
    color: white;
    text-decoration: underline;
}

.link:hover {
    color: rgb(173, 171, 171);
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

