@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.foundProducts {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  color: black;
}
  
.heading {
  text-align: center;
  color: black;
  font-family: 'raleway';
}
