@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'raleway';
}

h2, h3, h4 {
  font-family: 'oxygen';
}

p {
  font-family: 'roboto slab';
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  background: #66C0BC;
  background: linear-gradient(0deg,rgba(102, 192, 188, 1) 0%, rgba(235, 222, 164, 1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

